[tool.black]
line-length = 120
target-version = ['py310']
extend-exclude = '''
/(
  | \.venv
  | \.git
  | __pycache__
)/
'''

[tool.isort]
profile = "black"
line_length = 120
multi_line_output = 3
skip = [".venv", ".git", "__pycache__"]
